.cl-footer {
  & { display: none; }
}

.signin-container {
  & { height: 100vh; display: flex; align-items: center; justify-content: center; }
}
.signup-container {
  & { height: 100vh; display: flex; align-items: center; justify-content: center; }
}